@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: poppins, sans-serif;
}


/* global colors */
:root {
    --primary-color: #FD6E0A; /* Button color */
    --secondary-color: #474747;/* bannner-head */
    --text-color: #757575; /* Main text color */
    --accent-color: #181818; /* Highlights or accents */
    --error-color: #dc3545; /* Error states */
}

/* reuseable  */
.btn {
    background-color: var(--primary-color);
    padding: 12px 25px;
    border: none;
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 15px;
}


 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 51px 226px;
}

nav .logo {
    font-family: poppins , sans-serif;
    font-style: 800;
    font-size: 39px;
    color: var(--accent-color);

}

nav .logo span {
    color: var(--primary-color);
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

nav ul{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: poppins;
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary-color);
}

/***** hero *****/  

header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right  ;
}

 .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 230px;
    
    
   
}

 .hero-content  .content {
    max-width: 580px;
}

  .hero-content .hero-img .image {
    width: 580px;
 }

 .hero-content .content .sub-heading {
    font-weight: 600px;
    font-size: 45px;
    color: var(--secondary-color);
    line-height: 1.7em;
 }
 .hero-content .content .heading {
    font-size: 80px;
    font-weight: bold;
    color: var(--secondary-color);
    line-height: 1.7em;
 }

 .hero-content .content .description {
    font-size: 17px;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    color: var(--secondary-color);
    padding-bottom: 22px;
 }

 .hero-content .content .hero-btn {
    margin-left: -21px;
   
}

/***** End hero *****/

/***** about *****/  

.container {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
    
}


.container .about-content {
    background-color: #FFF8F3 ;
    padding: 130px 150px;
    text-align: center;
  
   
}

.container .about-content .about-child {
    background-color: white;
    border: solid 1px black;
    width: 827px;
    
}
 

.container .about-content .about-child .about-description {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.3em;
    width: 827px;
    height: 120px;
    padding: 0 15px;
}




.container .about-content .heading {
    line-height: 1.7em;
    margin-bottom: 15px;
    padding-top: 15px;
}

.container .about-content .about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    gap: 60px;
    padding-bottom: 15px;
}

.about-content .about-info .about-item .item-title{
    color: #474747;
    font-weight: 400;
    font-size: 18px;
}
.about-item .item-description{
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
}


/***** End about *****/


/***** what i do *****/ 
.Bio-section .bio-heading {
    text-align: center;
}
.bio-heading .heading {
    margin-bottom: 15px;
}
.bio-heading .sub-heading {
    margin: 0 200px;
    height: 90px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    color: var(--text-color);
}

.container .card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 60px;
   
}

.card-box .card-content {
    width: 267px;
    height: 377px;
    margin-left: 68px;
    border: 1px solid rgb(233, 232, 232);
    padding: 12px 12px;
}

.card-box .card-content .card-logo {
    width: 44px;
    height: 44px;
}

.card-content .card-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--accent-color);
    margin-top: 15px;
}

.card-content .card-description {
    width: 200px;
    height: 180px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 15px;
}
 /***** End what i do *****/


